body{
    font-family: 'Montserrat';
}

/* combine and add same values for each one */
h1,h2{
  font-family: 'Montserrat-Black';
}


h1{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
}

h2{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

p{
  color: #8f8f8f;
}

em{
  color: #5C7AEA;
}


.title1{
  background-color: #ff4c68;
  color: white;

}


/* navigation bar */
.navbar{
  padding-bottom:2rem;
}


.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

.container-fluid{
  padding: 0 15% 5% 15%;
}

.btn{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 5% 3% 5% 0;

}

.iphone{
  width: 65%;
  padding: 40px;
  transform: rotate(25deg);
  position: absolute;
}


.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* features */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature-box{
  text-align: center;
  padding: 5%;
}


/* testimonial */

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.logo1{
  width: 10%;
  margin: 10px 10px 30px;
}



/* pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}


/* change screen sizes for mobile phones/Tab/Lap */
@media (max-width:1028px) {

  #title{
    text-align: center;
  }

  .iphone{
    position:static;
    transform: rotate(0);
  }
}

#cta{
    text-align: center;
    background-color: #ff4c68;

}

#cta .footer-h3{
  padding: 2%;
  padding-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 2.5rem;
}

.btn1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 1% 1% auto 1%;
  font-size: 13px;
}

#footer{
  padding: 5% 0 0 0;
  text-align: center;
}

#footer .socialmedia-icon:hover{
  color: #1597E5;
}


#footer .socialmedia-icon{
  color: Black;
  margin: 20px 10px;
}

#footer .footer-copyright{
  font-size: 12px;
  font-family: 'PT Serif', serif;
}
